<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manager Page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--GOOGLE FONTS-->
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito:wght@300;600;700&display=swap"
            rel="stylesheet">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Manager Page</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>
    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="./img/svg/revo_logo.svg">
    <!--FONTAWESOME-->
    <script src="https://kit.fontawesome.com/6b76bdfe39.js" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="css/headers.css" rel="stylesheet">
</head>
<body>

<!--HEADER (NAVBAR COMPONENT)-->
<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" style="font-family: Nunito; font-weight: 900; font-size: 32px;" href="#">Manager's Update Page</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/manager" class="nav-link active"
                           style="font-family: Nunito; font-weight: 500; font-size: 20px;">Create</a>
                    </li>
                    <li class="nav-item">
                        <a href="/manager/delete" class="nav-link"
                           style="font-family: Nunito; font-weight: 500; font-size: 20px;">Delete</a>
                    </li>
                    <li class="nav-item">
                        <a href="/manager/find" class="nav-link"
                           style="font-family: Nunito; font-weight: 500; font-size: 20px;">Find</a>
                    </li>
                    <li class="nav-item">
                        <a href="/manager/read" class="nav-link"
                           style="font-family: Nunito; font-weight: 500; font-size: 20px;">Read</a>
                    </li>
                    <li class="nav-item">
                        <a href="/manager/update" class="nav-link"
                           style="font-family: Nunito; font-weight: 500; font-size: 20px;">Update</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<main>
    <div class="container" style="padding-top: 80px">
        <% if(err) { %>
            <p style="color: red;"><%= err %></p>
        <% } %>
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Update Assistant</h4>
            <form action="/manager/update" class="needs-validation" method="POST">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="currUsername" class="form-label">Current Email</label>
                        <input type="text" class="form-control" name="currEmail" id="currEmail" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid email is required.
                        </div>
                    </div>
                </div>
                <br>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="email" class="form-label">New Email</label>
                        <input type="text" class="form-control" name="email" id="email" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid email is required.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="username" class="form-label">New First Name</label>
                        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="" value=""
                               required>
                    </div>
                    <div class="col-sm-6">
                        <label for="username" class="form-label">New Last Name</label>
                        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="" value=""
                               required>
                    </div>
                    <div class="col-sm-6">
                        <label for="password" class="form-label">New Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder=""
                               value="" required>
                        <div class="invalid-feedback">
                            Valid password is required.
                        </div>
                    </div>
                </div>
                <br>
                <button class="w-100 btn btn-primary btn-lg" type="submit" style="font-weight: bold; font-family: Nunito; color: #cccccc; background: #332649; border-radius: 50px;">Update</button>
            </form>
            <br>
            <div class="row g-3">
                <% if(newSeller != null){ %>
                    <h5 class="mb-3">User '<%= oldSeller %>' successfully updated!</h5>
                    <table>
                        <tr>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Email</td>
                            <td>Password (Hashed)</td>
                        </tr>
                        <tr>
                            <td><%= newSeller.firstName %></td>
                            <td><%= newSeller.lastName %></td>
                            <td><%= newSeller.email %></td>
                            <td><%= newSeller.password %></td>
                        </tr>
                    </table>
                <% } %>
            </div>
        </div>
    </div>
</main>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <form action="/manager/logout?_method=PATCH" method="POST">
        <button type="button" class="btn btn-outline-light" id="myBtn-9" style="font-weight: bold; font-family: Nunito; color: #cccccc; background: #332649;
                            border-radius: 50px;">-  Log out  -</button>
    </form>
</footer>
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>